.row {
    margin-bottom: 30px;
}

.row h2 {
    margin: 0px 0px 0px 30px;
}

.list_area {
    overflow-x: hidden;
    padding-left: 30px;
}

.list {
    transition: all ease 0.5s;
}

.item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.item img:hover {
    transform: scale(1);
}

.left_arrow, .right_arrow {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.2s;
}

.left_arrow {
    left: 0;
}

.right_arrow {
    right: 0;
}

.row:hover .left_arrow, .row:hover .right_arrow {
    opacity: 1;
}